@import 'setup';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Shippori+Mincho:wght@400;700&display=swap');


    // font-family: 'Dancing Script', cursive;

    // font-family: 'Shippori Mincho B1', serif;


// general styles

html {
  font-size: 62.5%;
}

body {
  font-family: 'Shippori Mincho', serif;
  font-size: 1.6rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;

}


// stripping styles

body,
ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border: 1px solid  #75341d;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
}


// header starts

header {
  background-color: white;
  background-image: url('../assets/header-background.jpg');
  background-repeat: no-repeat;
  background-position-y: 52%;
  height: 80vh;
  color: white;
  
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 20rem;
    font-weight: 700;
    padding: 25px 0 15px 100px;
  }

  p {
    padding-left: 100px;
    margin: 5px;
    font-size: 2.2rem;
    font-weight: 600;

  }
}

// main starts

main {
  background-color: #ddbeb5;

  h2 {
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 80px 0 40px 0;
  }

  .soap-container {
    padding: 10px;
  }

  li {
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin: 25px auto;
    background-color: #A75638;
    border: 1px solid #75341d;
    border-radius: 10px;
    transition: box-shadow 0.3s;


    &:hover {
      box-shadow: 0 0 40px rgba(248, 237, 235, 1);
    }
  }

  // .image-container {
  //   min-width: calc(40% - 10px);
  // }

  .text-container {
    margin-left: 15px;
    background-color: rgb(248, 237, 235);
    border-radius: 10px;
    padding: 20px 30px;

    h3 {
      font-family: 'Dancing Script', cursive;
      font-size: 4.5rem;
      font-weight: 700;
      text-transform: lowercase;
    }

    p {
      padding: 10px 0;
    }

    .ingredient-list {
      width: 60%;
    }

    .cost {
      font-family: 'Shippori Mincho', serif;
      font-size: 1.6rem;
    }
  }
  
}

// footer styles

footer {
  text-align: center;
  padding: 5px;
  color: white;
  background-color: #B15B28;
}
